@import "../util/mixin.styl"

.picker
  display: none
  position: fixed
  top: 0
  z-index: 100
  width: 100%
  height: 100%
  overflow: hidden
  text-align: center
  font-family: 'PingFang SC', 'STHeitiSC-Light', 'Helvetica-Light', arial, sans-serif, 'Droid Sans Fallback'
  font-size: .28rem
  unselectable()
  .picker-mask
    position: absolute
    z-index: 500
    width: 100%
    height: 100%
    transition: all 0.5s
    -webkit-transition: all 0.5s
    background: rgba(0, 0, 0, 0)
    opacity: 0
    &.show
      background: rgba(0, 0, 0, 0.6)
      opacity: 1
  .picker-panel
    position: absolute
    z-index: 600
    
    bottom: 50%
    width: 4.5rem
    left: 50%

    height: 4.86rem
    background: #fff
    transform: translate(-2rem,12rem)
    -webkit-transform: translate(-2rem,12rem)
    transition: all 0.5s 
    -webkit-transition: all 0.5s
    // border:1px solid #92f3ff
    // border-radius:.1rem

    &.show
      transform: translate(-50%,50%)
      -webkit-transform: translate(-50%,50%)
    .picker-choose
      position: relative
      height: 1rem
      color: #878787
      font-size: .28rem
      // border-top: 1px solid #92f3ff
      // border-bottom: 1px solid #92f3ff
      
      background-color: #ffba12
      // border-radius: 0 0 0.1rem 0.1rem
      font-size: .32rem
      color: #422918

      .picker-title
        line-height: 1rem
        font-size: .38rem
        text-align: center
        color: #333
      .confirm, .cancel
        position: absolute 
        width: 2.25rem
        line-height: 1rem
      .confirm
        right: 0
      .cancel
        left: 0
        // border-right: 1px solid #333
      .split-lin
        border: 0.01rem solid #333;
        height: .5rem;
        display: inline-block;
        margin-top: .25rem;

    .picker-content
      position: relative
      .mask-top, .mask-bottom
        position: absolute
        z-index: 10
        width: 100%
        height: 1.26rem
        pointer-events: none
        transform: translateZ(0)
        -webkit-transform: translateZ(0)
      .mask-top
        border-bottom-1px(#ccc)
        top: 0
        gradient-from-bottom(rgba(255,255,255, 0.5), rgba(255,255,255, 1)) 
      .mask-bottom
        border-top-1px(#ccc)
        bottom: 0
        gradient-from-top(rgba(255,255,255, 0.5), rgba(255,255,255, 1))
    .wheel-wrapper
      flex-box()
      padding: 0 .2rem
      .wheel
        flex()
        height: 3.46rem
        overflow: hidden
        font-size: .42rem
        .wheel-scroll
          margin-top: 1.36rem
          line-height: .72rem
          .wheel-item
            height: .72rem
            overflow: hidden
            white-space: nowrap
            color: #333
  .picker-footer
    height: .4rem

@media (-webkit-min-device-pixel-ratio: 1.5), (min-device-pixel-ratio: 1.5)
  .border-1px
    &::after, &::before
      -webkit-transform: scaleY(.7)
      -webkit-transform-origin: 0 0
      transform: scaleY(.7)
    &::after
      -webkit-transform-origin: left bottom

@media (-webkit-min-device-pixel-ratio: 2), (min-device-pixel-ratio: 2)
  .border-1px
    &::after, &::before
      -webkit-transform: scaleY(.5)
      transform: scaleY(.5)

